<body class=sandwiches-index>

<h2>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</h2>

<h1>All Sandwiches</h1>
<%= render partial: 'list', locals: {user: @user, sandwich: @sandwich} %>

</body>
