<body class=sandwiches-index>

<h2>
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</h2>

<h1>Menus</h1>
<%= render partial: 'list', locals: {user: @user, sandwich: @sandwich} %>
</body>
