<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rails Sandwich Platter</title>

  </head>
  <body class=sandwich-index>

<h1>Sandwiches Index</h1>
<%= link_to "Grilled Sandwiches", grilled_path %><br>
<%= link_to "Open-Faced Sandwiches", open_faced_path %><br>
<%=@sandwiches.each do |sandwich|%>
<%= render partial: 'sandwich', locals: {sandwich: @sandwich} %>
<% end %>

</body>
</html>