<body class=sandwiches-index>

<h1>Sandwich Choices</h1>
<button id='all-sandwiches'>All Sandwiches</button><br>
<button id='my-sandwiches'>My Sandwiches</button><br>
<button id='create-new-sandwich'>Create a New Sandwich</button><br>
<h5>
<%= link_to "Log out", logout_path%><br>
<h5>

<div id="get-sandwiches"></div>
<br>
<div id="my-sandwiches"></div>

</body>
