<body class=show-sandwich>

<%= render partial: 'sandwich', locals: {sandwich: @sandwich} %>

<%= render partial: 'form', locals: {user: @user, sandwich: @sandwich} %>

<% if current_user == @sandwich.user %>
<%= link_to "Edit Sandwich", edit_user_sandwich_path(current_user, @sandwich) %><br>
<%= link_to "Delete This Sandwich", user_sandwich_path(current_user, @sandwich), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</body>