<body class=sandwiches-index>

<h1>Welcome to Sandwich Platter</h1>
<h2>We've got quite a spread here!</h2>

<p><%= link_to "Login", login_path %></p>
<p><%= link_to('Log in with GitHub!', '/auth/github') %>
<p><%= link_to "Sign Up", new_user_path %></p>

</body>